/**/*.gz
/**/*.md
/.git/
/.idea/
/*.iml
/.eslintcache
/.pnp.cjs
/.pnp.data.json
/.pnp.js
/.pnp.loader.mjs
/.tsbuildinfo
/LICENSE
/yarn.lock
.DS_Store
!.*.json
tsconfig.json
.pnp.js
.yarn/
dist/
.next/
webDist/
distWeb/
distLambda/
node_modules/
coverage/